@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Thin.ttf);
    font-weight: thin;
}


/* content */

.content {
    position: absolute;
    top: 8%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: space-between;
}

#row1 {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-top: 5%;
    padding-right: 10px;
    padding-left: 10px;
}

#row2 {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-top: 5%;
    padding-right: 10px;
    padding-left: 10px;
}

#teaname {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #424244;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

a:link,
a:visited {
    color: #424244;
    text-decoration: none;
}

a:hover {
    color: #AAAAAA;
    text-decoration: none;
}

a:active {
    position: relative;
    top: 1px;
}

.tea img {
    position: relative;
    width: 40%;
    transform: translatey(0px);
    /* animation: float 6s ease-in-out infinite; */
}

.tea img:hover {
    animation-name: wiggle;
    animation-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    17% {
        transform: rotate(2deg);
    }
    34% {
        transform: rotate(-2deg);
    }
    51% {
        transform: rotate(2deg)
    }
    68% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}